.section{

}
.choice{
  width: 100%;
  height: 100%;
  background:url("../images/choice-guide-bg.jpg") no-repeat fixed ;
}

.guide{
 width: 850px;
 height: 434px;
 position:relative;
 margin-bottom: 259px;

 &-box {
   width: 418px;
   height: 434px;
   float: left;
   border: 10px solid #fff;
   box-sizing: border-box;
   margin-right: 0;
   cursor: pointer;

   &:hover {
     border-color:#ffcd12;
   }

   &-heading {
     text-align: center;
     position: absolute;
     margin: 49px 115px;
     font-size: 30px;

     &.on:before{
       animation: icon 1s infinite;
     }

     @keyframes icon {
       0% {
         top: 0;
       }
       50% {
         top: -20px;
       }
       100% {
         top: 0;
       }
     }

     &.quick{
       &:before {
         content: "";
         display: block;
         position: absolute;
         width: 68px;
         height: 100px;
         margin: 120px 47px;
         background: url(../images/image_sprite.png) no-repeat -1px -285px;
       }
     }

     &.custom {
       &:before {
         content: "";
         display: block;
         position: absolute;
         width: 68px;
         height: 100px;
         margin: 120px 47px;
         background: url(../images/image_sprite.png) no-repeat -72px -285px;
       }
     }
   }

   &-paragraph {
     width: 374px;
     text-align: center;
     line-height: 22px;
     position: absolute;
     margin: 320px 100px 51px 7px;
     padding-bottom: 10px;

   }
 }

 .right {
   float: right;
   top: 0;
   right: 0;
   position: absolute;

 }

}

