.section{

  &.lodging{
    width:100%;
    height:100%;
    min-width:1250px;
    min-height:900px;
    background:url(../images/list_bg.jpg) no-repeat center bottom fixed;
    position:absolute;
    overflow:hidden;

    .content{
      width:300px;
      height: 320px;
      position: relative;
      perspective: 1000px;
      margin:0 auto;

      &-list{
        width: 100%;
        height: 100%;
        position: absolute;
        transform-style: preserve-3d;
        transition:transform 1s;
        transform:translateZ(-288px) rotateX(-10deg);
      }

      &-item{
        margin: 0;
        display: block;
        position: absolute;
        width: 274px;
        height: 320px;
        left: 13px;
        box-sizing:border-box;
        box-shadow:0 0 30px #000;
        //backface-visibility: hidden;

        &:nth-child(1){
          transform:rotateY(0deg) translateZ(400px);
        }

        &:nth-child(2){
          transform:rotateY(60deg) translateZ(400px);
        }

        &:nth-child(3){
          transform:rotateY(120deg) translateZ(400px);
        }

        &:nth-child(4){
          transform:rotateY(180deg) translateZ(400px);
        }

        &:nth-child(5){
          transform:rotateY(240deg) translateZ(400px);
        }

        &:nth-child(6){
          transform:rotateY(300deg) translateZ(400px);
        }

        &-name{
          margin:20px 0;
          text-align:center;
          font-size:20px;
          font-weight:bold;
        }

        &-text{
          font-size:15px;
        }
      }
    }

    .arrow{
      width:100%;
      position:relative;
      top:-100px;

      &-left{
        background:url(../images/image_sprite.png) no-repeat -265px -170px;
        border:0;
        width:34px;
        height:50px;
        position:absolute;
        text-indent:-99999px;
        cursor:pointer;
        outline:none;
      }

      &-right{
        background:url(../images/image_sprite.png) no-repeat -300px -170px;
        border:0;
        width:34px;
        height:50px;
        right:0;
        position:absolute;
        text-indent:-99999px;
        cursor:pointer;
        outline:none;
      }
    }
  }

}