.detail{
  background: url("../images/2_2_2_detail.png")no-repeat fixed;
  min-height: 1458px;
}

.title{
  color:#000;
  font-size:36px;
  font-weight:bold;
  padding-top:75px;
  height:256px;
  box-sizing:border-box;

  &-kor{
    height:40px;
    border-left:15px solid #ffcd12;
    padding-left:40px;
    color: #fff;
  }

  &-eng{
    height:36px;
    border-left:15px solid #383838;
    padding-left:40px;
    font-family: 'Kanit', sans-serif;
    color: #fff;
  }
}

.content{

}

.data{

  &-image{
    float: left;
  }

  &-wrap{

    &-title{
      font-size: 25px;
      font-weight: 600;
      text-align: center;
      margin-bottom: 64px;
    }

    &-list{
      margin: 36px 0 36px 0;

      &-item{
        font-size: 18px;
        float: left;
        margin: 0 45px 0 55px;
        width: 80px;
      }

      &-text{
        font-size: 18px;
      }

    }

  }

}

.text{
  font-size: 15px;
  float: left;
  margin: 64px 0 50px 0;
  line-height: 1.4;
}

.slide{

  &-wrap{

    position: relative;

    &-bigimage{
      width: 850px;
      height: 448px;
      margin-bottom: 14px;
    }

  }

  &-arrow{
    width:100%;
    position:relative;
    top: -255px;

    &-left{
      background:url(../images/image_sprite.png) no-repeat -265px -170px;
      border:0;
      width:34px;
      height:50px;
      position:absolute;
      margin-left:-64px;
      text-indent:-99999px;
    }

    &-right{
      background:url(../images/image_sprite.png) no-repeat -300px -170px;
      border:0;
      width:34px;
      height:50px;
      right:0;
      position:absolute;
      margin-right:-64px;
      text-indent:-99999px;
    }
  }

  &-list{
    padding-bottom: 92px;
    @extend %clearfix;

    &-item{
      width: 202px;
      height: 128px;
      overflow: hidden;
      float: left;
      margin-right: 14px;

      &:hover>.slide-list-image{
        transform: scale(1.2,1.2);
      }

    }

    &-item:last-child{
      margin-right: 0;
    }


    &-image{
      width:auto;
      height:100%;

      transition: transform 1s ease-out;
    }

  }

}
