.detail{
  background: url("../images/2_2_2_detail.png")no-repeat fixed;
}

.title{
  color:#000;
  font-size:36px;
  font-weight:bold;
  padding-top:75px;
  height:256px;
  box-sizing:border-box;

  &-kor{
    height:40px;
    border-left:15px solid #ffcd12;
    padding-left:40px;
    color: #fff;
  }

  &-eng{
    height:36px;
    border-left:15px solid #383838;
    padding-left:40px;
    font-family: 'Kanit', sans-serif;
    color: #fff;
  }
}

.content{

}

.data{

  &-image{
    float: left;
  }

  &-wrap{

    &-title{
      font-size: 25px;
      font-weight: 600;
      text-align: center;
      margin-bottom: 64px;
    }

    &-list{
      margin: 36px 0 36px 0;

      &-item{
        font-size: 20px;
        float: left;
        margin: 0 55px 0 80px;
        width: 80px;
      }

      &-text{
        font-size: 20px;
      }

    }

  }

}

.text{
  font-size: 15px;
  float: left;
  margin: 64px 0 50px 0;
  line-height: 1.4;
}

.slide{

  &-wrap{

    position: relative;

    &-bigimage{
      width: 850px;
      height: 448px;
      margin-bottom: 14px;
    }

    &-list{

      padding-bottom: 92px;
      @extend %clearfix;

      &-item{
        width: 202px;
        height: 128px;
        overflow: hidden;
        float: left;
        margin-right: 14px;
      }

      &-item:last-child{
        margin-right: 0;
      }

      &-image{
        width:auto;
        height:100%;
      }

    }

  }

  &-wrap:after{
    content: "";
    display: block;
    width: 33px;
    height: 50px;
    background: url(../images/image_sprite.png) no-repeat -265px -170px;
    position: absolute;
    top: 460px;
    left: -63px;
  }

  &-wrap:before{
    content: "";
    display: block;
    width: 33px;
    height: 50px;
    background: url(../images/image_sprite.png) no-repeat -300px -170px;
    position: absolute;
    top: 460px;
    left: 880px;
  }

}
