.section{

}
.choice{
  width:1920px;
  height: 1080px;
  background:url("../images/choice-guide-bg.jpg") no-repeat fixed ;
}

 .guide-box{
   width: 850px;
   height: 434px;
   position: relative;

   &-quick{
     width: 418px;
     height: 434px;
     float: left;
     border: 10px solid #fff;
     box-sizing: border-box;
     margin-right: 14px;

     &-heading{
       text-align: center;
       position: absolute;
       margin-top: 49px;
       font-size: 30px;

       &:after{
         content:"";
         display: block;
         width: 68px;
         height: 100px;
         margin: 70px 160px 80px;
         background: url("../images/image_sprite.png") no-repeat -1px -285px;
       }

     }

     &-p{
       text-align: center;
       position: absolute;
       margin: 320px 100px 51px;
     }
   }


   &-customize{
     width: 418px;
     height: 434px;
     float: left;
     border: 10px solid #fff;
     box-sizing: border-box;


       &-heading{
         text-align: center;
         position: absolute;
         margin-top: 49px;
         font-size: 30px;

         &:after{
           content:"";
           display: block;
           width: 68px;
           height: 100px;
           margin: 70px 160px 80px;
           background: url("../images/image_sprite.png") no-repeat -72px -285px;
         }

       }

       &-p{
         text-align: center;
         position: absolute;
         width: 257px;
         margin: 320px 70px 51px;
       }
     }


   //.on{
   //  cursor: pointer;
   //  border: #ffcd12;
   //}

 }


