.section{


}
.review{
  width: 1920px;
  height: 1080px;
  background: url(../images/review-bg.jpg) no-repeat fixed;
  }


.inner-box{


}

.photo {
  width: 1050px;

  &:before{
    @extend %clearfix;
    width: 34px;
    height: 50px;
    position: absolute;
    top: 577px;
    left: 584px;
    z-index: 9999;
    background: url(../images/image_sprite.png) no-repeat -265px -170px;
    cursor: pointer;
  }

  &:after{
    @extend %clearfix;
    width: 33px;
    height: 50px;
    position: absolute;
    top: 577px;
    right: 334px;
    z-index: 9999;
    background: url(../images/image_sprite.png) no-repeat -300px -170px;
    cursor: pointer;
  }

  &-list {

    position: relative;

    &-item {
      overflow: hidden;
      width: 274px;
      height: 306px;
      float: left;
      margin-right: 14px;
      padding-bottom: 78px;

      &-mask {
        width: 274px;
        height: 306px;
        overflow: hidden;
        position: relative;
        margin: 0 auto;



        &-h{

          width: 274px;
          height: 306px;
          position: absolute;
          top: 0;
          left: 0;

          &:hover:before {
            display: block;
          }

          &:before {
            content: "";
            display:none;
            width: 274px;
            height: 306px;
            background: #000;
            opacity: 0.6;
            position: absolute;
            top:0;
            left: 0;
          }
        }
        &-heading{
          font-weight: bold;
          top: 40%;
          width: 274px;
          position: absolute;
          text-align: center;



          &:hover{
            @extend %clearfix;
            top:40%;

          }
        }

      }
      .item-wrap {
        width: 850px;
        height: 690px;
        position: absolute;
        background: url(../images/popup_bg.jpg) no-repeat;
        top: 0;
        z-index: 999;


        &:after {
          content: "";
          display: block;
          width: 40px;
          height: 40px;
          position: absolute;
          top: -56px;
          right: -56px;
          background: url(../images/image_sprite.png) no-repeat -140px -235px;
        }


        .item-story {
          .item-pop-heading {
            font-size: 20px;
            font-weight: 700;
            margin: 30px 0 10px 30px;
            float: left;
          }

          .item-pop-name {
            font-size: 20px;
            font-weight: 700;
            margin: 30px 0 10px 386px;
            float: left;
          }
          .item-pop-date {
            font-size: 20px;
            font-weight: 700;
            float: right;
            margin: 32px 20px 0 0;
          }
        }
        .item-story:after {
          @extend %clearfix;
        }

        .item-story-paragraph {
          width: 580px;
          height: 600px;
          float: left;
          color: #000;
          margin-left: 100px;
          line-height: 3;
          padding-top: 86px;
        }

      }
    }
  }





}



.radio-box{
  width: 200px;
  height: 16px;
  margin-left: 394px;
  top: 970px;
  position:absolute;

  &-item{
    float: left;
    width: 20px;
    height: 20px;


    .current{
      &:hover{
        @extend %clearfix;
        color: #ffcd12;
      }
    }
  }

}








