.section{
  width:100%;
  height:1080px;
  //background:url(../images/image_bg.jpg) no-repeat  fixed;

  .faq{

    border-top:2px solid #ddd;
    border-bottom:2px solid #ddd;
    box-sizing:border-box;

    &-list{




      &-item {
        height: 100%;
        border-bottom: 1px solid #ddd;
        box-sizing: border-box;
        line-height: 100px;


        @extend %clearfix;




        &:last-child {
          border-bottom: 0;
        }

        &:before {
          content: "";
          display: block;
          width: 72px;
          border: 1px solid #d7d7d7;
          box-sizing: border-box;
          position: relative;
          top: 50px;
        }

      }

      &-link{
        font-size:20px;
        color:#fff;
        margin-left:80px;

        &:after {
          content: "";
          display: block;
          width: 26px;
          height: 14px;
          float: right;
          position: relative;
          top: 45px;
          right: 32px;
          background: url(../images/image_sprite.png) no-repeat -293px -255px;
        }
      }

    }
  }



  .detail-text-wrap{

    background:#808080;
    opacity:0.3;
    padding:40px 90px 50px;
    border-top:1px solid #ffcd12;

    .detail-text-contents{
      line-height:1.5em;
      font-size:15px;

    }


  }

  .detail-wrap{
    display:none;

  }



}
