.section{

}
.choice{
  width:1920px;
  height: 1080px;
  background:url("../images/choice-guide-bg.jpg") no-repeat fixed ;
}

 .guide-box{
   width: 850px;
   height: 434px;
   position: relative;



   &-quick{
     width: 418px;
     height: 434px;
     float: left;
     border: 10px solid #fff;
     box-sizing: border-box;
     margin-right:0;

     &:hover{
       content: "";
       display: block;
       clear: both;
       cursor: pointer;
       border: 10px solid #ffcd12;

     }


     &-heading{
       text-align: center;
       position: absolute;
       margin-top: 49px;
       font-size: 30px;

       &:after{
         content:"";
         display: block;
         width: 68px;
         height: 100px;
         margin: 70px 160px 80px;
         background: url("../images/image_sprite.png") no-repeat -1px -285px;
       }

     }

     &-p{
       width: 374px;
       text-align: center;
       line-height: 22px;
       position: absolute;
       margin: 320px 100px 51px 7px;
       padding-bottom: 10px;

     }
   }

   .right{
     content: "";
     display: block;
     clear: both;
     float: right;
     top: 0;
     right: 0;
     position: absolute;


   }
 }


