.section{

  &.experience{
    width:100%;
    height:1080px;
    background:url(../images/list_bg.jpg) no-repeat fixed;
    background-size:cover;

    .content{

      &-list{
        position:relative;
      }

      &-item{
        position:absolute;

        &:nth-child(1){
          width:216px;
          height:256px;
          margin-left:144px;
          opacity:0.4;
          box-shadow:0 0 10px #000;
        }

        &:nth-child(2){
          width:216px;
          height:256px;
          right:0;
          margin-right:144px;
          opacity:0.4;
          box-shadow:0 0 10px #000;
        }

        &:nth-child(3){
          width:274px;
          height:320px;
          margin-top:64px;
          opacity:0.6;
          box-shadow:0 0 20px #000;
        }

        &:nth-child(4){
          width:274px;
          height:320px;
          right:0;
          margin-top:64px;
          opacity:0.6;
          box-shadow:0 0 20px #000;
        }

        &:nth-child(5){
          width:274px;
          height:320px;
          margin:128px 0 0 72px;
          opacity:0.8;
          box-shadow:0 0 30px #000;
        }

        &:nth-child(6){
          width:274px;
          height:320px;
          right:0;
          margin:128px 72px 0 0;
          opacity:0.8;
          box-shadow:0 0 30px #000;
        }

        &:nth-child(7){
          width:274px;
          height:384px;
          margin:178px 288px 0;
          box-shadow:0 0 50px #000;
        }

        &-name{
          margin:20px 0;
          text-align:center;
          font-size:20px;
          font-weight:bold;
        }

        &-text{
          font-size:15px;
        }
      }
    }

    .arrow{
      width:100%;
      padding-top:288px;
      position:relative;

      &-left{
        background:url(../images/image_sprite.png) no-repeat -265px -170px;
        border:0;
        width:34px;
        height:50px;
        position:absolute;
        margin-left:-64px;
        text-indent:-99999px;
      }

      &-right{
        background:url(../images/image_sprite.png) no-repeat -300px -170px;
        border:0;
        width:34px;
        height:50px;
        right:0;
        position:absolute;
        margin-right:-64px;
        text-indent:-99999px;
      }
    }
  }

}