.quick-guide{
  background:url("../images/bg-3-1-1.png") no-repeat fixed ;

}

.map{
  display:block;

  &-list{
    width:850px;
    height:498px;
    overflow:hidden;
    margin-bottom:50px;

    &-item{

      &-map{
        width:100%;
        position:relative;

        &.map1{
          top:-35px;
          left:0;
        }
        &.map2{
          top:-70px;
          left:0;
        }
        &.map3{
          top:-90px;
          left:0;
        }
        &.map4{
          top:-70px;
          left:0;
        }
        &.map5{
          top:-30px;
          left:0;
        }
      }
    }
  }
}

.course{


  &-view{
    width: 850px;
    height: 68px;
    position:relative;

    // 아랫줄
    &:after{
      content:"";
      display:block;
      width:100px;
      height:3px;
      background:#ffcd12;
      position:absolute;
      bottom:0;
      left:50%;
      transform:translateX(-50%);
      transition:all .5s ease-out;
    }

    &.frame1:after{
      width:100%;
    }

    // 왼쪽 줄
    &:before{
      content:"";
      display:block;
      width:3px;
      height:0;
      background:#ffcd12;
      position:absolute;
      left:0;
      bottom:0;
      transition:all .5s ease-out;
    }

    &.frame2:before{
      height:100%;
    }
  }

  &-select {
    width: 850px;
    height: 68px;
    box-sizing: border-box;
    font-size: 20px;
    text-align: center;
    padding-top: 26px;

    // 윗줄
    &:before{
      content:"";
      display:block;
      width:0;
      height:3px;
      background:#ffcd12;
      position:absolute;
      right:0;
      top:0;
      transition:all .4s ease-out;
    }

    &.frame3:before{
      width:100%;
    }

    // 오른쪽 줄
    &:after{
      content:"";
      display:block;
      width:3px;
      height:0;
      background:#ffcd12;
      position:absolute;
      right:0;
      bottom:0;
      transition:all .1s ease-out;
    }

    &.frame2:after{
      height:100%;
    }
  }

  &-list{
    @extend %clearfix;
    margin-top:50px;

    &-item{
      float:left;
      margin-right:73px;

      &:last-child{
        margin-right:0;
      }
    }
  }

  &-wrap{
    font-size:15px;
    padding:0 50px;
    @extend %clearfix;

    .route{
      float:left;
    }

    .time-distance{
      float:right;

    }
  }
}
