.section{

}
.choice{
  width:1920px;
  height: 1080px;
  background:url("../images/choice-guide-bg.jpg") no-repeat fixed ;
}

 .guide-box{
   width: 850px;
   height: 434px;
   position: relative;



   &-quick{
     width: 418px;
     height: 434px;
     float: left;
     border: 10px solid #fff;
     box-sizing: border-box;
     margin-right:0;

     &:hover{
       @extend %clearfix;
       cursor: pointer;
       border: 10px solid #ffcd12;

     }


     &-heading{
       text-align: center;
       position: absolute;
       margin: 49px  115px;
       font-size: 30px;

       &:before{
         content: "";
         display: block;
         clear: both;
         position: absolute;
         width: 68px;
         height: 100px;
         margin: 120px 47px;
         background: url(../images/image_sprite.png) no-repeat -1px -285px;
       }

       &-R{
         text-align: center;
         position: absolute;
         margin: 49px  115px;
         font-size: 30px;

         &:after{
           @extend %clearfix;
           position: absolute;
           width: 68px;
           height: 100px;
           margin: 93px 47px;
           background: url(../images/image_sprite.png) no-repeat -72px -285px;
         }
       }
     }




     &-p{
       width: 374px;
       text-align: center;
       line-height: 22px;
       position: absolute;
       margin: 320px 100px 51px 7px;
       padding-bottom: 10px;

     }
   }

   .right{
     @extend %clearfix;
     float: right;
     top: 0;
     right: 0;
     position: absolute;


   }
 }


