.custom-guide{
  background:url("../images/bg-3-1-2.png") no-repeat ;

}

.place {
  position:relative;

  &-select {
    width: 850px;
    height: 68px;
    border: 3px solid #ffcd12;
    box-sizing: border-box;
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
  }

  &-reload{
    position:absolute;
    top:20px;
    right:45px;

    &-btn{
      width: 24px;
      height: 30px;
      background:url("../images/image_sprite.png") no-repeat -200px -255px;
      display: block;
      position: absolute;

    }
  }

  &-list-item{
    float:left;
    width:130px;
    margin:40px 50px 0 0;

    &.right{
      margin-right:0;
    }
  }

}


.map {
  display: block;
  width: 850px;
  height: 498px;
  overflow: hidden;
  margin-bottom: 50px;


}