.review{
  background:url("../images/review-bg.jpg") no-repeat 0 0;

  &-photo{
    width: 850px;
    height: 690px;

    &-list1{
      width: 274px;
      height: 306px;
      box-shadow: 10px;
      &-item{

      }
    }
  }

}



